/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Raleway", sans-serif;
}
body {
  background: url(../src/assets/images/cover4.jpg) no-repeat 0px 0px;
  background-size: cover;
  background-attachment: fixed;
}
